{% load static %}

{% load el_pagination_tags %}

{% lazy_paginate 30 my_mails %}

<table class="table table-hover">
        <thead>

        </thead>
        <tbody class="table-border-bottom-0">
        {% if my_mails %}
        {% for mails in my_mails %}

          <tr>
            <td> <strong>{{ mails.To }}</strong></td>
            <td>{{ mails.Subject }}</td>

            <td>
                {% if mails.Status == "Send" %}
                <span class="badge bg-label-success me-1">{{ mails.Status }}</span>
                {% elif mails.Status == "Draft" %}
                <span class="badge bg-label-warning me-1">{{ mails.Status }}</span>
                {% elif mails.Status == "Bounced" %}
                <span class="badge bg-label-danger me-1">{{ mails.Status }}</span>
                {% endif %}
            </td>
            <td><span class="badge bg-label-info me-1">{{ mails.Time }}</span></td>

            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a
                      type="button"
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#fullscreenModal{{ mails.id }}"
                    >
                     <i class="bx bx-edit-alt me-1"></i> View
                    </a>

                    <a type="button"
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#basicModal{{ mails.id }}">
                      <i class="bx bx-trash me-1"></i> Delete</a>
                    </a>
                </div>
              </div>
            </td>
          </tr>


        <!-- Modal -->
        <!--        delete modal-->
        <div class="modal fade" id="basicModal{{ mails.id }}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel1">Confirmation</h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                  <h5>Are you sure to delete this email ??</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <a href="{% url 'delete_mail' %}?mail_id={{ mails.id }}&user={{user}}&company_id={{company_id}}&subscription_id={{subscription_id}}" type="button" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>



        <!-- Modal -->
        <!--        show details mail modal-->
        <div class="modal fade" id="fullscreenModal{{ mails.id }}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalFullTitle"><b>{{ mails.Subject }}</b> ({{ mails.Time }})</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                    {{ mails.Textbox | safe }}
              </div>
              <div class="modal-footer" style="margin-right:140px;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

{% endfor %}


{% else %}
<tr>
  <td rowspan="4">No Mails Send Yet</td>
</tr>
{% endif %}


        </tbody>
 </table>


{% show_more "More results" %}