{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Dashboard - Home{% endblock %}
{% block draft_active %}active{% endblock %}
{% block body %}

<div class="container-xxl flex-grow-1 container-p-y">
<!-- Hoverable Table rows -->
  <div class="card">
    <h5 class="card-header">Draft Emails</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
<!--            <th><strong>To</strong></th>-->
<!--            <th>Subject</th>-->
<!--            <th>Status</th>-->
<!--            <th>Time</th>-->
<!--            <th>Actions</th>-->
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

        {% include page_template %}

        </tbody>
      </table>
    </div>
  </div>
  <!--/ Hoverable Table rows -->
</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{{ block.super }}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'el-pagination.js' %}"></script>
<script>
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 800

    });
</script>



{% endblock %}